@charset "UTF-8";

header{
	border-right: solid 1px black;
}

header > nav {
	width: 250px;
}

header > nav > ul > li:hover{
	background-color: darkgoldenrod;
}

.contents{
	width: 250px;
}

.test-img{
	width: 300px;
	height: 200px;
	background-color: red;
}